*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}
.card{
 width: 90%;
 max-width: 470px;
 background:linear-gradient(135deg ,#00feba, #5b548a);
   color: #fff;
  margin: 100px auto 0; 
  border-radius: 20px;
  padding:40px 35px;
  text-align: center;
  
}
.search{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border:0;
    padding: 10px 20px;
    background: #ebfffc;
    color: #555;
    height: 60px;
    border-radius: 30px;
    flex:1;
    font-size: 18px;
    margin-bottom: 10px;
}
.search button{
    border:0;
    padding: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height:50px;
    cursor: pointer;
    margin-left: 10px;
}
.search button img{
    width: 24px;
}
.weather-icon{
    width: 100px;
    margin-top:20px;
}
.weather h1{
    font-size: 36px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    margin-top: 20px;
}
.col{
    display: flex;
    align-items: center;
  
}
.col img{
    width: 30px;
    margin-right: 10px;
}












